<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Life in Advance Database</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body class="home">
  <header>
    <!-- Logo -->
      <div class="logo">
          <a href="/">MICKALI GARBUTT</a>
      </div>
  </header>
  <main>
    <!-- Welcoming to Blog and Home Content -->
      <h1>Welcome to my blog!</h1>
      <p>
        Hi! My name is Mickali Garbutt. I currently attend the University of Belize 
        and am completing my Bachelor's Degree in IT. One of the courses I'm taking is 
        Advanced Database. Feel free to take a look at what we've covered so far!</p>
        <!-- Home Menu -->
        <h2>Choose a week:</h2>
        <div class="stars">
          <a href="/week1" class="star">
            <img src="/resource/star.png" alt="Week 1">
            <span>1</span>
          </a>
          <a href="/week2" class="star">
            <img src="/resource/star.png" alt="Week 2">
            <span>2</span>
          </a>
          <a href="/week3" class="star middle-star">
            <img src="/resource/star.png" alt="Week 3">
            <span>3</span>
          </a>
          <a href="/week4" class="star">
            <img src="/resource/star.png" alt="Week 4">
            <span>4</span>
          </a>
          <a href="/week5" class="star">
            <img src="/resource/star.png" alt="Week 5">
            <span>5</span>
          </a>
      </div>      
  </main>
</body>
</html>