<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Life in Advance Database</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
      <div class="logo">
          <a href="/">MICKALI GARBUTT</a>
      </div>
  </header>
  <main>
      <h1>Welcome to my blog!</h1>
      <p>
        Hi! My name is Mickali Garbutt. I currently attend the University of Belize 
        and am completing my Bachelor's Degree in IT. One of the courses I'm taking is 
        Advanced Database. This course covers complex data structures, performance 
        optimization, data warehousing, distributed databases, and database security.</p>
        <div class="tiles">
          <a href="/week1" class="tile">
              <img src="/resource/git.jpg" alt="Week 1">
              <span>Week 1</span>
          </a>
          <a href="/week2" class="tile">
              <img src="/resource/nodejs.png" alt="Week 2">
              <span>Week 2</span>
          </a>
          <a href="/week3" class="tile">
              <img src="/resource/webarch.png" alt="Week 3">
              <span>Week 3</span>
          </a>
          <a href="/week4" class="tile">
              <img src="/resource/middleware.png" alt="Week 4">
              <span>Week 4</span>
          </a>
          <a href="/week5" class="tile">
              <img src="/resource/injection.png" alt="Week 5">
              <span>Week 5</span>
          </a>
      </div>
  </main>
</body>
</html>