/* Filename: static/styles.css  */

/* Add the Universal Box Sizing Reset.
   This ensures that the 'box-sizing' property
   is set to border-box for all elements (*) and
   their '::before' and '::after' psuedo-elements
   NOTE: Always add this at the top of your stylesheet
   
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/*LOGO*/
.logo {
  font-family: 'Press Start 2P', cursive; 
  text-transform: uppercase;  
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(to right, #b8abe5, #c1cae8 );  
  padding: 4px 20px 5px 20px;
  border-radius: 10px;  
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

.logo a {
  font-size: 20px;  
  font-weight: bold;
  text-decoration: none;
  color:#ece891; 
}

/*BODY*/
h1 {
  font-family: 'Press Start 2P', cursive; 
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400; 
}

p {
  font-family: 'Press Start 2P', cursive; 
  color: #ffffff; 
  margin-bottom: 15px;
  font-size: 0.8rem;
}

.custom-font {
  font-family: 'Press Start 2P', cursive; 
  color: #ffffff; 
  margin-bottom: 15px;
  font-size: 0.8rem;
}

h2 {
  font-family: 'Press Start 2P', cursive; 
  color: #ffffff; 
  margin-bottom: 15px;
  font-size: 1.2rem;
}

ul {
  font-family: 'Press Start 2P', cursive; 
  color: #ffffff; 
  font-size: 0.8rem;
}

/* General body styles (applies to all pages) */
body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  line-height: 1.5;
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
}

.home {
  background-image: url('../resource/kirby2.png'); 
}
/*Less stars more visibility to text*/
.other-pages {
  background-image: url('../resource/kirbyotherpages.png'); 
}

/* Code block styles */
pre,
code {
  font-family: "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.5;
}

pre {
  background-color: #efd8f8;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e1e4e8;
  overflow-x: auto;
}

code {
  background-color: #efd8f8;
  padding: 2px 4px;
}

header {
  padding: 20px 0;
}

/*Home Star Menu*/
.stars {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  padding: 4px 0;
  text-align: center; 
}

.star {
  position: relative;
  text-decoration: none; 
}

.star img {
  width: 150px; 
  height: auto;
}

.star span {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-weight: bold;
  font-size: 1.6rem; 
  color: #fafafa; 
  font-family: 'Press Start 2P', cursive; 
}

.middle-star {
  grid-column: 1 / 3; 
}


/* Navigation Bar Styles */
nav {
  background-color: #e1a5f0; 
  padding: 10px 0; 
}

.nav-list {
  list-style: none; 
  display: flex; 
  justify-content: center; 
  margin: 0; 
  padding: 0; 
}

.nav-list li {
  margin: 0 15px; 
}

.nav-list a {
  text-decoration: none; 
  color: white; 
  font-family: 'Press Start 2P', cursive;
  font-weight: 500; 
  padding: 5px 10px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-list a:hover {
  background-color: #ece891; 
  color: #fff; 
}

/*Next Week Button*/
.next-week {
  display: inline-block; 
  padding: 10px 20px; 
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem; 
  color: white; 
  background-color: #ece891; 
  border: none; 
  border-radius: 15px; 
  text-decoration: none; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  margin-top: 20px;
}

.next-week:hover {
  background-color: #e1a5f0; 
  transform: scale(1.05); 
}
